<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a13e1d83ab.js" crossorigin="anonymous"></script>
    <title>SportsStore</title>
</head>
<body>
    <div class ="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="navbar-brand" href="#">SPORTS STORE</a>
            <div class="col-12 text-right">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>        
    </div>
     <div class="row m-1 p-1">
         <div id ="categories" class="col-3">
             @await Component.InvokeAsync("NavigationMenu")         
         </div>
         <div class ="col-9">
            @RenderBody()
         </div>
     </div>    
</body>
</html>
